<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="#"><h2>Tasty Food</h2></a>
                    <div class="divider"></div>
                    <p>Restaurant</p>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="col-md-3">
                    <h2>Services</h2>
                    <div class="divider"></div>
                    <a href="#"><p>Delivery</p></a>
                    <a href="#"><p>Pricing</p></a>
                    <a href="#"><p>Fast Food</p></a>
                    <a href="#"><p>Reserve your spot</p></a>
                </div>
                <div class="col-md-3">
                    <h2>Information</h2>
                    <div class="divider"></div>
                    <a href="#"><p>Event</p></a>
                    <a href="#"><p>Contact us</p></a>
                    <a href="#"><p>Privacy policy</p></a>
                    <a href="#"><p>Terms of service</p></a>
                </div>
                <div class="col-md-3">
                    <h2>Address</h2>
                    <div class="divider"></div>
                    <p>Lima - Peru</p>
                    <p>Jr Union #999</p>
                    <p>999-888-777</p>
                    <p>tastyfood@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; TastyFood. All right reserved.</p>
        </div>
    </div>
    </footer>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="/scripts/script.js"></script>
</div>

</body>
</html>