<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="/fragments/header :: head"></head>
<style>
    #cartTable {
        margin-inline: auto;
    }

    .cart-item-list td:not(.cart-item-list td.img-container) {
        padding-inline: 20px;
    }

    #total-price {
        margin-inline: auto;
        margin-top: 40px;
        margin-bottom: 25px;

        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: #157347;
    }
</style>

<body>
<div th:replace="/fragments/header :: header"></div>

<form class="cart-item-list" th:action="@{/cart/update-cart-items}" th:object="${cart}">
    <div class="container mx-md-5" style="margin-top: 100px">
        <h3 class="text-success">Products</h3>
        <div class="">
            <table id="cartTable">
                <tbody>
                <tr th:each="cartItem, itemStat : ${cart.cartItems}" id="${e.productId}">
                    <td class="img-container">
                        <div class="w-50 mx-auto">
                            <img th:src="${cartItem.product.imageURL}"
                                 style="max-width: 150px"/>
                        </div>
                    </td>
                    <td class="align-middle">
                        <h3 th:text="${cartItem.product.name}" class="m-0"></h3>
                    </td>
                    <td class="align-middle">
                        <!--                                            th:field="*{cartItems[__${itemStat.index}__].id}"-->
                        <input hidden th:value="${cartItem.id}" th:name="|cartItems[${itemStat.index}].id|" type="text">
                        <!--                         th:field="*{cartItems[__${itemStat.index}__].quantity}"-->
                        <input th:value="${cartItem.quantity}" th:name="|cartItems[${itemStat.index}].quantity|"
                               onchange="calculate(this)" th:class="quantity" th:attr="data-id=${cartItem.id}"
                               type="number" min="1" class="form-control" aria-describedby="basic-addon1"
                               style="max-width: 100px">
                    </td>
                    <td th:class="price" th:attr="data-id=${cartItem.id}"
                        th:text="${#numbers.formatCurrency(cartItem.product.price)}" class="align-middle">
                        <h3 class="m-0"></h3>
                    </td>
                    <td th:class="final-price" th:attr="data-id=${cartItem.id}"
                        th:text="${#numbers.formatCurrency(cartItem.product.price * cartItem.quantity)}"
                        style="font-weight: bold; color: #157347;">Total Price will go here
                    </td>
                    <!--                    th:text="${#numbers.formatCurrency(cartItem.product.price * cartItem.quantity)}"-->
                    <td class="align-middle">
                        <a th:href="@{'/cart/delete-item/{id}' (id=${cartItem.id})}">
                            <i style="cursor:pointer; color: #bb2d3b;" class="fas fa-trash-alt fs-3 ms-2"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--            <div class="row">-->
            <div class="col-md-5 t-2" id="total-price">Total: $</div>
            <!--            </div>-->
            <div class="alert alert-danger" th:if="${error} != null" th:text="${error}"></div>
        </div>
        <div class="d-flex flex-row-reverse" style="justify-content: center;">
            <a class="btn btn-success ms-2" th:href="@{/order/take-order}">
                <span class="fw-bold fs-6">Order</span>
            </a>
            <a class="btn btn-success ms-2" href="/home/menu">
                <span class="fw-bold fs-6">Continue shopping</span>
            </a>
            <button class="btn btn-success ms-2" type="submit" th:value="save">Save</button>
        </div>
    </div>
</form>
<script>
    sum();

    function calculate(e) {
        let cartItemId = $(e).attr("data-id");
        let attributeQuery = `[data-id='${cartItemId}']`;

        let quantity = Number.parseInt($(".quantity" + attributeQuery).val());
        let price = parseFloat(($(".price" + attributeQuery).text()).replace('$', ''));

        $(".final-price" + attributeQuery).text("$" + quantity * price);
        sum();
    }

    function sum() {
        let prices = Array.from($(".final-price").map(function () {
            return parseFloat($(this).text().replace('$', ''));
        }));

        let sum = (!prices.length ? 0 : prices.reduce((total, price) => total + price));

        $("#total-price").text("Total: $" + sum);
    }

</script>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>