<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasty Restaurant</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div th:fragment="header">
  <aside>
    <div class="scrollToTop">
      <i class="fas fa-arrow-up"></i>
    </div>
  </aside>
  <header>
    <div class="container-fluid">
      <nav class="mobile-nav">
        <div class="row">
          <div class="col-3">
            <a href="#"><p>Tasty</p></a>
          </div>
          <div class="col-7 search">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search....">
              <button class="btn btn-outline-secondary button-addon2" type="button"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="col-2 menu-icon">
            <i class="fas fa-align-justify"></i>
          </div>
        </div>

        <div class="overlay">
          <div class="overlay-content">
            <div class="row mobile-login">
              <div class="col-4">
                <i class="far fa-user-circle"></i>
              </div>
              <div class="col-8">
                <p><a href="#">Sign in</a> / <a href="#">Sign up</a></p>
              </div>
            </div>
            <ul class="menu">
              <li class="home-menu"><a href="#">Home</a></li>
              <li class = "about-menu"><a href="#">About</a></li>
              <li class="menu-has-children services-menu">
                <a href="#">Services</a>
                <ul class="sub-menu-mobile">
                  <li><a href="#">Excellent food</a></li>
                  <li><a href="#">Fast food</a></li>
                  <li><a href="#">Delivery</a></li>
                </ul>
              </li>
              <li class="menu-has-children dishes-menu">
                <a href="#">Menu</a>
                <ul class="sub-menu-mobile">
                  <li><a href="#">Pizza</a></li>
                  <li><a href="#">Salad</a></li>
                  <li><a href="#">Best seller</a></li>
                </ul>
              </li>
              <li class="contact-menu"><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>

      </nav>
      <nav class="desktop-nav">
        <div class="row">
          <div class="col-md-2">
            <a href="#"><p>Tasty</p></a>
          </div>
          <div class="col-md-10 menu-group">
            <ul class="menu">
              <li class="home-menu"><a href="#">Home</a></li>
              <li class="about-menu"><a href="#">About</a></li>
              <li class="menu-has-children services-menu">
                <a href="#">Services</a>
                <ul class="sub-menu">
                  <li><a href="#">Excellent food</a></li>
                  <li><a href="#">Fast food</a></li>
                  <li><a href="#">Delivery</a></li>
                </ul>
              </li>
              <li class="menu-has-children dishes-menu">
                <a href="#">Menu</a>
                <ul class="sub-menu">
                  <li><a href="#">Pizza</a></li>
                  <li><a href="#">Salad</a></li>
                  <li><a href="#">Best seller</a></li>
                </ul>
              </li>
              <li class="contact-menu"><a href="#">Contact us</a></li>
              <li>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Search....">
                  <button class="btn btn-outline-secondary button-addon2" type="button"><i class="fas fa-search"></i></button>
                </div>
              </li>
              <li class="menu-has-children">
                <i class="fas fa-user"></i>
                <ul class="login" sec:authorize="isAnonymous()">
                  <li>
                    <fieldset>

                      <h2>Sign in</h2>
                      <span>or <a href="#" class="sign-up">Create Account</a></span>

                      <div th:if="${param.error}">
                        <div class="alert alert-danger">
                          Invalid username or password.
                        </div>
                      </div>
                      <div th:if="${param.logout}">
                        <div class="alert alert-danger">
                          You have been logged out
                        </div>
                      </div>

                      <form th:action="@{/}" method="post">
                        <div class="mb-3 row">
                          <label for="staticEmail" class="col-sm-4 col-form-label" >User</label>

                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="staticEmail" name="username" required="required">
                          </div>
                        </div>
                        <div class="mb-3 row">
                          <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>

                          <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword" name="password" required="required">
                          </div>
                        </div>
                        <button id="btn-login" type="submit">Sign in</button>
                      </form>
                    </fieldset>
                  </li>
                  <li>
                    <button id="btn-login-fb">
                      <span><i class="fab fa-facebook-f"></i></span>
                      <span>Sign in with FaceBook</span>
                    </button>
                  </li>
                  <li>
                    <button id="btn-login-gg">
                      <span><i class="fab fa-google-plus-g"></i></span>
                      <span>Sign in with Google</span>
                    </button>
                  </li>
                </ul>

                <ul class="login" sec:authorize="isAuthenticated()">
                  <li>
                    <fieldset>
                      <a th:href="@{/logout}">
                        <button id="btn-logout" class="btn btn-danger">Logout</button>
                      </a>
                      <!--                                            <form th:action="@{/login}" method="post">-->
                      <!--                                            </form>-->
                    </fieldset>
                  </li>
                </ul>
              </li>
              <li>
                <a th:href="@{/cart}">
                  <i class="fas fa-shopping-cart"></i>
                </a>
                <!--                                    <a th:href="@{/cart}" sec:authorize="isAuthenticated()">-->
                <!--                                        <i class="fas fa-shopping-cart"></i>-->
                <!--                                    </a>-->
                <!--                                    <i  sec:authorize="isAnonymous()" class="fas fa-shopping-cart"></i>-->
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
<form th:action="@{/cart/update-cart-items}" th:object="${cart}">
  <div class="container mx-md-5" style="margin-top: 100px">
    <h3 class="text-success">Products</h3>
    <div class="">
      <table id="cartTable">
        <tbody>
        <tr th:each="cartItem, itemStat : *{getCartItems()}" id="${e.productId}">
          <td>
            <div class="w-50 mx-auto">
              <img th:src="${cartItem.product.imageURL}"
                   style="max-width: 150px" />
            </div>
          </td>
          <td class="align-middle">
            <h3 th:text="${cartItem.product.name}" class="m-0"></h3>
          </td>
          <input hidden th:field="*{cartItems[__${itemStat.index}__].id}" type="text">
          <td class="align-middle">
            <input onchange="calculate(this)" th:class="quantity" th:attr="data-id=${cartItem.id}" th:field="*{cartItems[__${itemStat.index}__].quantity}" type="number" min="0"  class="form-control" aria-describedby="basic-addon1">
          </td>
          <td th:class="price" th:attr="data-id=${cartItem.id}" th:text="${#numbers.formatCurrency(cartItem.product.price)}" class="align-middle"><h3 class="m-0"></h3></td>
          <td th:class="final-price" th:attr="data-id=${cartItem.id}" th:text="${#numbers.formatCurrency(cartItem.product.price * cartItem.quantity)}" style="font-weight: bold; padding-right: 100px;">Total Price will go here</td>
          <!--                    th:text="${#numbers.formatCurrency(cartItem.product.price * cartItem.quantity)}"-->
          <td class="align-middle">
            <a th:href="@{'/cart/delete-item/{id}' (id=${cartItem.id})}">
              <i style="cursor:pointer; color: #bb2d3b;" class="fas fa-trash-alt fs-3 ms-2"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-5 text-end mt-2" id="total-price">Total: $</div>
      </div>
    </div>
    <div class="d-flex flex-row-reverse mt-5" style="justify-content: center;">
      <a class="btn btn-success ms-2" href="/order/">
        <span class="fw-bold fs-6">Order</span>
      </a>
      <a class="btn btn-success ms-2" href="/home/menu">
        <span class="fw-bold fs-6">Continue shopping</span>
      </a>
      <button class="btn btn-success ms-2" type="submit" th:value="save">Save</button>
    </div>
  </div>
</form>
<script>
  sum();
  function calculate(e) {
    let cartItemId = $(e).attr("data-id");
    let attributeQuery = `[data-id='${cartItemId}']`;

    let quantity = Number.parseInt($(".quantity" + attributeQuery).val());
    let price = parseFloat(($(".price" + attributeQuery).text()).replace('$',''));

    $(".final-price" + attributeQuery).text("$" + quantity * price);
    sum();
  }

  function sum() {
    let sum = Array.from($(".final-price").map(function() {
      return parseFloat($(this).text().replace('$', ''));
    })).reduce((total, price) => total + price);

    $("#total-price").text("Total: $" + sum);
  }
</script>
<div th:fragment="footer">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="#"><h2>Tasty Food</h2></a>
          <div class="divider"></div>
          <p>Restaurant</p>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
        <div class="col-md-3">
          <h2>Services</h2>
          <div class="divider"></div>
          <a href="#"><p>Delivery</p></a>
          <a href="#"><p>Pricing</p></a>
          <a href="#"><p>Fast Food</p></a>
          <a href="#"><p>Reserve your spot</p></a>
        </div>
        <div class="col-md-3">
          <h2>Information</h2>
          <div class="divider"></div>
          <a href="#"><p>Event</p></a>
          <a href="#"><p>Contact us</p></a>
          <a href="#"><p>Privacy policy</p></a>
          <a href="#"><p>Terms of service</p></a>
        </div>
        <div class="col-md-3">
          <h2>Address</h2>
          <div class="divider"></div>
          <p>Lima - Peru</p>
          <p>Jr Union #999</p>
          <p>999-888-777</p>
          <p>tastyfood@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; TastyFood. All right reserved.</p>
    </div>
  </div>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script src="/scripts/script.js"></script>
  <script src="/scripts/cart.js"></script>
</div>
</body>
</html>